section article div {
  border-radius: 30px;
  background-color: rgba(200, 200, 200, 0.75);;
  width: 90%;
  margin-top: 1em;
  font-size: 1em;
  box-shadow: 0.063em 0.063em 0.750em black;
  margin-left: 10%;
  padding: 1% 2% 1% 2%;
  text-align: justify;
  margin-left: 3%;
}

h3
{
    text-decoration: underline;
}

